/*************************
	BOOTSTRAP OVERRIDES
*************************/ 
html {
  font-size: 100%;
}
$font-size-base: .88rem; // 14px
$font-size-lg: $font-size-base * 1.0 !default;
$font-size-md: $font-size-base * 0.9 !default; // about 13px
$font-size-sm: $font-size-base * 0.815 !default; // about 13px
$lead-font-size: $font-size-base * 0.1 !default;
$font-family-sans-serif: -apple-system , BlinkMacSystemFont , "Segoe UI" , "Roboto" , "Helvetica Neue" , "Ubuntu" , sans-serif;

$h1-font-size: $font-size-base * 1.7 !default;
$h2-font-size: $font-size-base * 1.45 !default;
$h3-font-size: $font-size-base * 1.35 !default;
$h4-font-size: $font-size-base * 1.25 !default;
$h5-font-size: $font-size-base * 1.15 !default;
$h6-font-size: $font-size-base !default;

$line-height-base:            1.57 !default;
$headings-line-height:        1.68 !default;

$nav-link-padding-y: 0.2rem;

$border-radius-lg: .5rem !default;

/*************************
	IMPORT BOOTSTRAP
*************************/ 
@import "node_modules/bootstrap/scss/bootstrap.scss";


/*************************
	HELPERS
*************************/ 
a.link-unstyled {
	&,
	&:visited,
	&:hover,
	&:active,
	&:focus,
	&:active:hover {
	  font-style: inherit;
	  color: inherit;
	  background-color: transparent;
	  font-size: inherit;
	  text-decoration: none;
	  font-variant: inherit;
	  font-weight: inherit;
	  line-height: inherit;
	  font-family: inherit;
	  border-radius: inherit;
	  border: inherit;
	  outline: inherit;
	  box-shadow: inherit;
	  padding: inherit;
	  vertical-align: inherit;
	}
  }

/*************************
	CUSTOM STYLES
*************************/ 
body {
  color: $gray-900;
  font-weight: 400;
}

a.nav-link {
  font-size: $font-size-md;
  color: $gray-700;
}
a.nav-link:hover {
  font-size: $font-size-md;
  color: $black;
}
#search-button.btn {
  font-size: $font-size-sm;
  text-align: left;
  color: $gray-600;
  border-color: $gray-300;
  background-color: $gray-100;
  border-radius: $border-radius-lg;
}

#search-button.btn-light:focus {
  box-shadow: none;
}

.modal-footer {
  justify-content: center;
  font-size: $font-size-sm;
}
#search-results {
  visibility: inherit;
  padding-left: 0;
  background-color: #fff;
  z-index: 999;
  left: 0px;
  right: auto;
}

#search-results li {
  list-style: none;
  margin-left: 0em;
  margin-bottom: 2px;
}
#search-results li .title {
  //   font-size: 1.1em;
  display: inline-block;
  font-weight: bold;
}
#search-results li a {
  text-decoration: none !important;
  padding: 10px;
  display: inline-block;
  width: 100%;
  color: $gray-700;
}
#search-results {
  li a:hover,
  li a:active,
  li a:focus {
	  outline: 0;
    background-color: #556cd6;
    color: #fff !important;
  }
}


//// SIDE MENU
nav#sidebar a {
	font-weight: 500;
	color: $gray-600;
}

nav#sidebar a:hover {
	text-decoration: none;
	color: $gray-900;
}
nav#sidebar ul li a {
	padding: 2px 10px 2px 1rem;
	display:inline-block;
	width: 100%;
}

nav#sidebar ul li a .svg-inline--fa {
	height: 22px; // Must match line height of nav#sidebar ul li a 
}

nav#sidebar ul li ul li {
	padding: 0px 0px 0 0px;
}

	nav#sidebar ul li ul li a{
		padding-left: 1.5rem;
		// margin-left: 20px;
	}

nav#sidebar ul li.active > a {
	background: $gray-200;
	color: $link-color;
	border-top-right-radius: $border-radius-lg;
	border-bottom-right-radius: $border-radius-lg;
}

///// Link Cards
a.card {
	word-wrap: break-word;
  	background-clip: border-box;
	border: $card-border-width solid $card-border-color;
	@include border-radius($card-border-radius);
}
a.card:hover {
	background: $gray-200;
	border: $card-border-width solid $card-border-color;
	@include border-radius($card-border-radius);
}

///// Code Highlighting
 .highlight{
	background-color: #4f566b;
	display: inline-block;
	padding: 1em;
	border-radius: 8px;
	border: 1px solid #4f566b;
	width: 100%;
}

///// Code Tabs
nav.code-tabs {
	background-color: #000;
	padding: .5em 1em;
	border: 5px solid #000;
	border-radius: 8px 8px 0 0;
}

nav.code-tabs .nav-pills a.nav-link {
	color: #fff;
	margin: 1px;
}

nav.code-tabs .nav-pills a.nav-link:hover,
nav.code-tabs .nav-pills a.nav-link.active,
nav.code-tabs .nav-pills a.show > .nav-link {
	background-color: #4F566B !important;
	color: #fff;
	margin: 1px;
}

.tab-content .tab-pane .highlight {
	border-radius: 0 0 8px 8px;
	padding: 0em;
}

@import "syntax.scss";